/* .container1{
    margin-top: 65px;
} */

/* .anh-nen1{
    width: 1350px;
    height: auto;
    margin-left: -100px;

}
.anh-nen1 img{
    width: 100%;
    height: 580px;

}

.anh-nen2{
    width: 750px;
    margin-left: 200px;

}

.anh-nen2 img{
    height: 500px;
    margin-top: -600px;
} */

.link-center{
    background-color: #e2deda;
    width: 1905px;
    height: 50px;
}


 .back-link{
     margin:10px auto 10px 380px;
     font-size: 14px;
     line-height: 1.25;
 }

 a.link-home{
     margin-right: 15px;
     color: #53534a;
 }


 .bg_color{
    position: absolute;
    /* width: 100%; */
    /* height: 100%; */
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 100%; */
    /* transform: translate(-50%,-50%); */
    background: linear-gradient(90deg, #15053f, #1f7002, #02161d, #3f0451);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    font-size: 20px;
    overflow: hidden;
    margin-top: 55px;

}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}
.button1{
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: #63635c;
    transition: 0.3s;
    border-radius: 2px 0px;
}
.button2{
    width: 100px;
    height: 25px;
    text-align: center;
    background-color: #f2f2f2;
    transition: 0.3s;
    border-radius: 2px 0;
}
#product_img{
    transition: all 0.3s;
    margin-top: 50px;
   width: -webkit-fill-available;
   height: 200px;
}
.text-center{
    text-align: center;
}

#box{
  background-color: #3f0451;  
  width: 348px;
  height: -webkit-fill-available;
  float: left;
  display: block;
  max-width: 50%;
  margin: 5px;
  border: 5px solid #15053f;
}
#box:hover{
    background-color: aliceblue;
    color: #000;
}
#product_img:hover{
    transform: scale(1.03,1.03);
}
.button1:hover{
    background-color: #f2f2f2;
}
.button2:hover{
    background-color: #985f0d;
}
